@charset "UTF-8";
.van-toast[data-v-74bb6d20] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-74bb6d20] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-74bb6d20] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-74bb6d20] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-74bb6d20] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-74bb6d20] {
    z-index: 9999999 !important
}

.ar_turntable_page[data-v-74bb6d20] {
    background-image: url(/assets/png/turntable_bg-1b521166.webp);
    background-size: 100% 16.85333rem;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #bf222c;
    width: 100%;
    min-height: 100vh;
    position: relative
}

.ar_turntable_page[data-v-74bb6d20] .head-main {
    position: relative;
    background: var(--main_gradient-color) !important;
    color: var(--text_color_L4, #fff);
    z-index: 2
}

.ar_turntable_page .right_btn[data-v-74bb6d20] {
    grid-gap: .32rem
}

.ar_turntable_page .right_btn .nva_help[data-v-74bb6d20],
.ar_turntable_page .right_btn .icon_history[data-v-74bb6d20] {
    width: .64rem;
    height: .64rem
}

.ar_turntable_page .my_account[data-v-74bb6d20] {
    text-align: center;
    padding-top: .42667rem;
    color: var(--text_color_L4, #fff);
    font-size: .37333rem;
    font-weight: 500
}

.ar_turntable_page .turntable_content[data-v-74bb6d20] {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.ar_turntable_page .turntable_content .scroll_num[data-v-74bb6d20] {
    display: inline-block;
    margin: 0 auto
}

.ar_turntable_page .turntable_content .amount[data-v-74bb6d20] {
    position: absolute;
    top: .26667rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    z-index: 3;
    font-size: .90667rem;
    font-weight: 500;
    line-height: 1.17333rem;
    background: -webkit-linear-gradient(top, #fffa7b 22.55%, #fffb5e 44.98%, #ffe770 59.26%, #ffb06a 73.53%);
    background: linear-gradient(180deg, #fffa7b 22.55%, #fffb5e 44.98%, #ffe770 59.26%, #ffb06a 73.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.ar_turntable_page .turntable_content .cash_btn[data-v-74bb6d20] {
    position: absolute;
    top: 1.41333rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    min-width: 3.69333rem;
    height: 1.01333rem;
    border-radius: .66667rem;
    background: #fd8b01;
    box-shadow: 0 -.05333rem .4rem #fff9 inset;
    color: #fff;
    text-align: center;
    text-shadow: 0 .02667rem .02667rem rgba(88, 58, 8, .5);
    font-size: .42667rem;
    font-weight: 700;
    line-height: 1.01333rem;
    z-index: 4
}

.ar_turntable_page .turntable_content .turntable_all[data-v-74bb6d20] {
    width: 100%;
    height: 14.34667rem;
    margin-top: -1.6rem;
    margin-bottom: .50667rem;
    position: relative;
    z-index: 3
}

.ar_turntable_page .turntable_content .turntable_all .turn_bottom[data-v-74bb6d20] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.72rem;
    background: url(/assets/png/turn_bottom-3ba54e70.webp) no-repeat center center;
    background-size: 100% 3.72rem;
    z-index: 2
}

.ar_turntable_page .turntable_content #turntable_canvas[data-v-74bb6d20] {
    width: 8.8rem;
    height: 12.08rem;
    position: relative;
    margin: 0 auto;
    z-index: 1
}

.ar_turntable_page .turntable_record[data-v-74bb6d20] {
    width: 100%;
    padding-bottom: .26667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.ar_turntable_page .turntable_record .tip[data-v-74bb6d20] {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: .32rem;
    font-weight: 500;
    line-height: .42667rem;
    margin-bottom: .48rem;
    padding: 0 .4rem
}

.ar_turntable_page .turntable_record .record_list[data-v-74bb6d20] {
    width: 100%;
    padding: 0 .4rem 1.33333rem
}

.ar_turntable_page .turntable_record .record_list .title[data-v-74bb6d20] {
    color: #fff;
    font-size: .42667rem;
    font-style: normal;
    font-weight: 700;
    line-height: .42667rem
}

.ar_turntable_page .turntable_record .record_list .record_item[data-v-74bb6d20] {
    height: 1.36rem;
    padding: .32rem 0;
    border-bottom: .01333rem solid #e43f49;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.ar_turntable_page .turntable_record .record_list .record_item .record_item_left[data-v-74bb6d20] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.ar_turntable_page .turntable_record .record_list .record_item .record_item_left img[data-v-74bb6d20] {
    width: .85333rem;
    height: .85333rem;
    margin-right: .16rem;
    border-radius: 50%
}

.ar_turntable_page .turntable_record .record_list .record_item .record_item_left span[data-v-74bb6d20] {
    color: #fff;
    font-size: .34667rem;
    font-weight: 400;
    line-height: .42667rem
}

.ar_turntable_page .turntable_record .record_list .record_item .record_item_right .record_amount[data-v-74bb6d20] {
    color: #ffdc2f;
    text-align: right;
    font-size: .34667rem;
    font-weight: 500
}

.ar_turntable_page .turntable_record .record_list .record_item .record_item_right .time[data-v-74bb6d20] {
    color: #fffc;
    text-align: right;
    font-size: .32rem;
    font-weight: 400
}

.ar_turntable_page .turntable_record .record_list .record_item[data-v-74bb6d20]:last-child {
    border-bottom: none
}

.ar_turntable_page .invite_btn[data-v-74bb6d20] {
    display: inline-block;
    color: #fff;
    text-align: center;
    text-shadow: 0 .02667rem .02667rem rgba(88, 58, 8, .5);
    font-size: .37333rem;
    font-weight: 500;
    line-height: 1.01333rem;
    border-radius: .66667rem;
    background: #fd8b01;
    box-shadow: 0 -.05333rem .4rem #fff9 inset;
    height: 1.01333rem;
    padding: 0 .16rem;
    margin: 0 auto .32rem
}

.ar_turntable_page .amount_no_tip[data-v-74bb6d20] {
    padding: .66667rem 0;
    color: var(--text_color_L1, #383a4c);
    text-align: center;
    font-size: .37333rem;
    font-weight: 400;
    line-height: .48rem
}

.nav_bar_head[data-v-74bb6d20] {
    width: 100%;
    height: 1.17333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background: var(--main_gradient-color);
    padding: 0 .4rem;
    position: relative
}

.nav_bar_head .left_icon[data-v-74bb6d20] {
    font-size: .64rem;
    color: var(--text_color_L4, #fff)
}

.nav_bar_head .title[data-v-74bb6d20] {
    color: var(--text_color_L4, #FFF);
    text-align: center;
    font-size: .48rem;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%)
}

.nav_bar_head .rithe_icon[data-v-74bb6d20] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.nav_bar_head .rithe_icon svg[data-v-74bb6d20] {
    width: .64rem;
    height: .64rem;
    margin-right: .32rem
}

.nav_bar_head .rithe_icon svg[data-v-74bb6d20]:last-child {
    margin-right: 0
}